/*****************
* Variables
******************/

// color 
$font_grey: #5f6368;
$primary_colorblu: #3367d6;
$title_color: #3c4043;
$paragraph_color: rgba(0,0,0,0.87);
$footer_color: #f5f5f5;
$footer_linkcolor: rgba(61,61,61,.8);

// typography 
$general_font: 'Open Sans', sans-serif;
$font_roboto: 'Roboto', sans-serif;
